include lib/glchess/gtkui/*.glade
include po/*.po po/*.pot
include BUGS ChangeLog COPYING INSTALL README TODO
include ai.xml glchess.svg glchess.desktop
include Makefile
include MANIFEST.in
include textures/*.png
include mime/glchess.xml
include debian/changelog
include debian/compat
include debian/control
include debian/copyright
include debian/docs
include debian/manpage.sgml
include debian/menu
include debian/rules
include debian/glchess.mime
