/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*/*.omf.out
/*/.xml2po.mo
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/C/glchess.xml
/C/legal.xml
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/ca/ca.po
/ca/glchess.xml
/cs/cs.po
/cs/glchess.xml
/de/de.po
/de/glchess.xml
/el/el.po
/el/glchess.xml
/en_GB/en_GB.po
/en_GB/glchess.xml
/es/es.po
/es/glchess.xml
/eu/eu.po
/eu/glchess.xml
/fr/fr.po
/fr/glchess.xml
/glchess-C.omf
/glchess-ca.omf
/glchess-cs.omf
/glchess-de.omf
/glchess-el.omf
/glchess-en_GB.omf
/glchess-es.omf
/glchess-eu.omf
/glchess-fr.omf
/glchess-oc.omf
/glchess-pt_BR.omf
/glchess-ru.omf
/glchess-sv.omf
/oc/glchess.xml
/oc/oc.po
/pt_BR/glchess.xml
/pt_BR/pt_BR.po
/ru/glchess.xml
/ru/ru.po
/so_locations
/sv/glchess.xml
/sv/sv.po
/tags
