Source: glchess
Section: gnome
Priority: optional
Maintainer: Robert Ancell <bob27@users.sourceforge.net>
Build-Depends: debhelper (>= 4.0.0), docbook-to-man, python-glade2 (>=2.8.1)
Standards-Version: 3.6.1

Package: glchess
Architecture: all
Depends: python2.4, python2.4-gtk2, python2.4-glade2 (>= 2.8.1)
Recommends: python2.4-gtkglext1, python2.4-opengl, python2.4-imaging
Description: A 2D/3D chess interface.
 glChess is a 2D/3D chess program. It supports:
  * Multiple simultaneous games using tabs
  * Artificial intelligence using external engines
  * 2D/3D rendering
